<div class="container-fluid bg-dark text-light py-5">
    <div class="container py-5">
        <h2 class="text-center course-title mb-4">Explore Our <span class="text-span">Subscription</span> Plan</h2>
        <br><br>
        <div class="row justify-content-center">
    
          <div class="col-md-5 mb-4">
            <div class="pricing-card p-4 shadow-sm">
              <h3 class="plan-title text-center">Free</h3>
              <h1 class="price text-center">$0</h1>
              <p class="access-type text-center text-muted">Limited Access</p>
              <hr class="bg-light">
              <ul class="list-unstyled">
                <!-- <li class="benefit">✔ Access Code Editor</li> -->
                <li class="benefit">✔ Explore through our resourses</li>
              </ul>
              <button class="btn btn-custom join-btn w-100 mt-4">Join Free</button>
            </div>
          </div>
      
    
          <div class="col-md-5 mb-4">
            <div class="pricing-card p-4 shadow-sm">
              <h3 class="plan-title text-center">Premium</h3>
              <h1 class="price text-center">$99</h1>
              <p class="access-type text-center text-muted">Unlimited Access</p>
              <hr class="bg-light">
              <ul class="list-unstyled">
                <li class="benefit">✔ Access to all 80+ videos</li>
                <li class="benefit">✔ Access to all 40+ resources</li>
                <li class="benefit">✔ Access to projects source code</li>
                <li class="benefit">✔ Exclusive support forum</li>
                <li class="benefit">✔ Free updates</li>
                <li class="benefit">✔ Digital certificate</li>
              </ul>
              <a class="btn btn-custom enroll-btn w-100 mt-4" href="/payment">Enroll Now</a>
            </div>
          </div>
        </div>
      </div>
      
      <footer class="bg-light text-lg-start">
        <div class="py-4 text-center">
          <a
             role="button"
             class="btn btn-primary btn-lg m-2" data-mdb-ripple-init
             href="www.google.com"
             rel="nofollow"
             target="_blank"
             >
            StudyHiveSync
          </a>
        </div>      
    
       
        <div class="text-center py-4 align-items-center">
          <p>Follow StudyHiveSync on social media</p>
          <a href="https://www.youtube.com/@BetWiseStakeIndia" target="_blank" rel="nofollow">
            <img src="https://cdn-icons-png.flaticon.com/256/2504/2504848.png" alt="YouTube" style="width: 40px; height: 40px;">
          </a>
          <a href="https://www.linkedin.com/in/ankit-anshuman-mohapatra-85442a1b8/" target="_blank" rel="nofollow">
            <img src="https://banner2.cleanpng.com/20181227/ici/kisspng-logo-linkedin-computer-icons-portable-network-grap-1713909854703.webp" alt="LinkedIn" style="width: 40px; height: 40px;">
          </a>
          <a href="https://github.com/ankitanshumanmohapatra" target="_blank" rel="nofollow">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub" style="width: 40px; height: 40px;">
          </a>
        </div>
      
    
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2025 Copyright:
          <a class="text-dark" href="www.google.com">StudyHiveSync</a>
        </div>
    
      </footer>
    </div>